<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SkillYard</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/stylesheet/main.css" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body>
    <!--linear-gradient(to bottom, #88bdbc 16%, #254e58 100%)-->
    <nav
      class="navbar navbar-expand-lg fixed-top navbar-light bg-white shadow myNav"
    >
      <div class="container">
        <a
          class="navbar-brand mr-1"
          href="/"
          style="text-transform: none; color: #45046a; font-weight: bold"
          >SkillYard</a
        >
        <button
          class="navbar-toggler border-0"
          type="button"
          data-toggle="collapse"
          data-target="#navid"
        >
          <span class="material-icons"> menu </span>
        </button>
        <div class="collapse navbar-collapse ml-lg-5" id="navid">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link my-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link my-link" href="/courses">Communities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link my-link" href="/myquestion">My Discussions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link my-link" href="/bookmarks">Bookmarks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link my-link" href="/ranking">Activity</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <% if(!currentUser){ %>
            <li class="nav-item">
              <a class="nav-link my-link" href="/register"
                ><strong>Sign Up</strong></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link my-link" href="/login"
                ><strong>Sign In</strong></a
              >
            </li>
            <% }else{ %>
            <li class="nav-item" style="margin-top: 10px">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="white"
                class="bi bi-person-bounding-box"
                viewBox="0 0 16 16"
              >
                <path
                  d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"
                />
                <path
                  d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"
                />
              </svg>
            </li>
            <li class="nav-item">
              <a class="nav-link my-link disable" href="/register">
                <%=currentUser.username%>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link my-link" href="/logout">Logout</a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <%if(success && success.length){%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong><%=success%></strong>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <%}else if(error && error.length){%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong><%=error %> </strong>

      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <%}%>
  </body>
</html>
