<%- include('partials/header') -%>

<div class="container">
  <div class="card border-0" style="background-color: #e0fbfc">
    <div class="card-body">
      <h2 class="card-title text-center"><b>My Discussions</b></h2>

      <% currentUser.postsforEach(function(post){%>
      <%-include('./partials/mypost',{post, currentUser})%> <%}); %>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
