<%- include('./../partials/header') -%>

<div class="my-5">
  <h1 class="text-center" style="color: #c4bbf0">Create Post</h1>
</div>

<div class="container askquestion">
  <div class="row">
    <div class="col-md-6 col-10 mx-auto">
      <form
        action="/communities/<%=id%>/posts"
        method="POST"
        class="needs-validation"
        novalidate
      >
        <div class="mb-3">
          <label for="currTopic" class="form-label" style="color: #c4bbf0"
            ><strong>Topic</strong></label
          >
          <input
            type="text"
            name="post[topic]"
            class="form-control"
            id="currTopic"
            placeholder="Enter the topic"
            required
          />
        </div>
        <div class="mb-3">
          <textarea
            class="form-control"
            name="post[description]"
            id="currQuestion"
            rows="3"
            placeholder="Write here..."
            required
          ></textarea>
        </div>
        <div class="mb-3 form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="ifCurrentUserAnonymous"
            value="true"
            name="post[anonymouslyAsked]"
          />
          <label
            class="form-check-label"
            for="ifCurrentUserAnonymous"
            style="color: #c4bbf0"
            ><strong>Post Anonymously</strong></label
          >
        </div>
        <div class="mb-3">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('./../partials/footer') -%>
